#container {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

#venstre-kolonne {
    width: 400px;
    float: left;
    background: red;
}

#hojre-kolonne {
    width: 200px;
    float: right;
    background: green;
}

@media screen and (max-width: 590px){
    #container {
        width: 100%;
    }

    #venstre-kolonne {
        width: 70%;
        float: left;
        background: red;
    }

    #hojre-kolonne {
        width: 30%;
        float: right;
        background: green;
    } 
    
    img {
        width: 100%;
    }
}


